<footer style="
  background-color: #222; 
  color: #eee; 
  text-align: center; 
  padding: 15px 10px; 
  font-size: 14px; 
  letter-spacing: 0.05em; 
  border-top: 3px solid #00aaff;
  width: 100%;
  position: relative;
  bottom: 0;
">
  <p>Copyright © Inventory System <%= new Date().getFullYear() %></p>
</footer>
